doctype html
html(lang='en')
  head
    title Sort
    style 
      include index.css
  body
    div(class='main')
      h2 #404  Page not found!
        form(class='inputForm', action='/', method="get")
            br
            br
            div.actions
                button(type="submit", class="button") Go Back!
            br