body{
    background: #e4e4e4;
}
.main{
    
    border: 2px solid black;
    background-color:grey;
    margin: 10em auto;
    text-align: center;
    width: 50%;
    padding: 5%;
    border-radius: 8px;
}
.inputForm{
    width: 60%;
    margin: 0 auto;
}

input[type='text']{
    font-size: 16px;
    padding: 2px;
    border: 2px solid black;
}
.array{
    outline: none;
}
.password{
    outline: none;
}
.button{
    width: 45%;
    font-size: 16px;
}
.error{
    color:red;
}
.button{
    font-size: 16px;
    padding: 2px;
    border: 2px solid black;

}
.button:hover{
    background-color: #e7e7e7;
}
li 
{
    list-style: none;
    margin-top: 5px;
}