doctype html
html(lang='en')
  head
    title Sort
    style 
      include index.css
  body
    div(class='main')
      h2 Count frequency and sort.
      form(class='inputForm', action='/sort', method="post")
        div.input
            span.label Input : 
            input(type="text", name="input", class="array", required)
        br
        br
        div.actions
            button(type="submit", class="button") Go!
        br

      hr
      if inputArr
        span.displayInput Input Array: #{inputArr}
      if error
        br
        br
        span.error #{error}
      if stringArray
        ul  
        each item in stringArray
          li #{item}